*{
  font-family:'Poppins', sans-serif;
  
}
body {
  background-image: url(/bg4\ opo\ 25.jpg);
   background-size:cover;
  background-position: center; 
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  /* opacity: 0.4;  */
} 

.navbar {
    background: linear-gradient(to right, #686eda, #8f94fb);
    color: white;
  }
  .navbar .navbar-brand span {
    color: #fc794d;
  }
  
  .navbar-links a {
    font-size: 18px;
    color:rgb(76, 0, 139);
    text-decoration: none;
    font-weight: 500;
  }
  
.navbar-links a:hover {
    color: #e93e2b;
    text-decoration: underline;
  
  }
  
  /* Sloka Section Styling */
.card {
    border: none;
  }
  
  #sloka-text {
    border: 2px solid #4e54c8;
    /* background-color: #f3f4f6; */
    font-size: 24px;
    font-family: 'Georgia', serif;
  }
  
  #sloka-text:hover {
    background-color: #8fa1de27;
    transition: background-color 0.3s ease-in-out;
  }
  
  #next-btn {
    background-color: #4e54c8;
    color: white;
    border: none;
  }
  
  #next-btn:hover {
    background-color: #8f94fb;
    font-size: 1.1rem;
    transition: all 0.2s ease-in-out;
  }
  
  /* Responsive Styling */
  @media (max-width: 768px) {
    .navbar .form-control {
      width: 100%;
      margin-top: 10px;
    }
  
    .navbar-links {
      flex-wrap: wrap;
      justify-content: center;
    }
  
 .navbar-links a {
      padding: 5px 0;
    }
  
#next-btn {
      width: 100%;
    }
  }
.footer{
  margin-top:80px;
  position: sticky;
  bottom:0;
  background-color: #f8f9fa;
   border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
