*{
  font-family:Arial, Helvetica, sans-serif;
}

.navbar {
    background: linear-gradient(to right, #686eda, #8f94fb);
    color: white;
  }
  .navbar .navbar-brand span {
    color: #fc794d;
  }
  
  .navbar-links a {
    font-size: 18px;
    color: #fcb94d;
    text-decoration: none;
    font-weight: 500;
  }
  
.navbar-links a:hover {
    color: #08343a;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  }
  
  /* Sloka Section Styling */
.card {
    border: none;
  }
  
  #sloka-text {
    border: 2px solid #4e54c8;
    background-color: #f3f4f6;
    font-size: 24px;
    font-family: 'Georgia', serif;
  }
  
  #sloka-text:hover {
    background-color: #e0e7ff;
    transition: background-color 0.3s ease-in-out;
  }
  
  #next-btn {
    background-color: #4e54c8;
    color: white;
    border: none;
  }
  
  #next-btn:hover {
    background-color: #8f94fb;
    font-size: 1.1rem;
    transition: all 0.2s ease-in-out;
  }
  
  /* Responsive Styling */
  @media (max-width: 768px) {
    .navbar .form-control {
      width: 100%;
      margin-top: 10px;
    }
  
    .navbar-links {
      flex-wrap: wrap;
      justify-content: center;
    }
  
 .navbar-links a {
      padding: 5px 0;
    }
  
#next-btn {
      width: 100%;
    }
  }
